{% extends "admin/admin.base.html.twig" %}

{% block content %}
    <h2 class="page-title text-center">Personnages</h2>
    {{ form_start(form) }}
    {{ form_row(form.name, {'label': "Nouveau Personnage", 'attr':{'placeholder': 'Nom du Personnage'}})}}
    <button class="btn btn-success mb-3" type="submit">Enregistrer</button>
    {{ form_end(form) }}

    <table class="table table-dark rounded">
        <thead>
            <tr >
                <th scope="col" class="border-top-0 ">#</th>
                <th scope="col" class="border-top-0 ">Personnage</th>
            </tr>
        </thead>
        <tbody>
            {% set count = 0 %}
            {% for player in players %}
                <tr>
                    <th scope="row">{{ count }}</th>
                    <td>{{ player.name }}</td>
                </tr>
                {% set count = count + 1 %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
