{% extends "orga/orga.base.html.twig" %}

{% block content %}
    <h1>Modifier une Trame</h1>

    {{ form_start(form) }}
    <button class="btn btn-success" type="submit">Enregistrer</button>
    {{ form_row(form.name, {'label': "Nom", 'attr':{'placeholder': trame.name}})}}
    {{ form_row(form.orga, {'label': "Organisateur Referent", 'attr':{'placeholder': trame.orga}})}}
    {{ form_row(form.type, {'label': "Type de Trame", 'attr':{'placeholder': trame.type}})}}
    {{ form_row(form.description, {'label': "Description", 'attr':{'placeholder': trame.description}})}}
    {{ form_row(form.matos, {'label': "Matos", 'attr':{'placeholder': trame.matos}})}}

    <h2>ScenarToBack</h2>
    <ul class="stbs list-group" data-prototype="{{ form_widget(form.stbs.vars.prototype)|e('html_attr') }}">
        {% for stb in form.stbs %}
            
                <li class="list-group-item mb-3 rounded">
                    <div class="stb card border-0 p-0 m-0">
                            {{ form_row(stb.name) }}
                            {{ form_row(stb.players) }}
                            {{ form_row(stb.description) }}
                    </div>
                </li>
            
        {% endfor %}
    </ul>

    {{ form_end(form) }}
    
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="/form.js"></script>
    <script src="/choice.js"></script>
{% endblock %}
