{% extends 'orga/orga.base.html.twig' %}

{% block title %}Liste des Evenements
{% endblock %}

{% block content %}
    <h2 class="text-center page-title">Liste des Evenements</h2>
    <a href="{{ path('new_event') }}" id="new_event" class="btn btn-primary btn-lg btn-block">Créer un Evenement</a>

    {% for row in events|batch(2) %}
    <div class="row">
        {% for event in row %}
            <div class="col-sm-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ path('view_event', {'id' : event.id}) }}">{{ event.name }}</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Le {{ event.date | date('d m Y') }} à {{ event.location }}</h6>
                        <p class="card-text">{{ event.description }}</p>
                        <div class="btn-group">
                            <div class="btn-group">
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Generer un PDF</button>
                                <div class="dropdown-menu">
                                    <a href="{{ path('generate_scenario', {'id' : event.id}) }}" class="dropdown-item">Generer Scenario</a>
                                    <a href="{{ path('generate_stb', {'id' : event.id}) }}" class="dropdown-item">Generer StB</a>
                                    <a href="{{ path('generate_matos', {'id' : event.id}) }}" class="dropdown-item">Generer Matos</a>
                                </div>
                            </div>
                            {% if event.locked == "" %}
                                <a href="{{ path('edit_event', {'id' : event.id}) }}" class="btn btn-primary">Modifier</a>
                                <a href="{{ path('delete_event', {'id' : event.id}) }}" class="btn btn-danger">Supprimer</a>
                            {% elseif event.locked == app.user.username %}
                                <a href="{{ path('edit_event', {'id' : event.id}) }}" class="btn btn-primary">Modifier <i class="fas fa-lock"></i> ({{ app.user.username }})</a>
                                <a href="{{ path('delete_event', {'id' : event.id}) }}" class="btn btn-danger">Supprimer <i class="fas fa-lock"></i> ({{ app.user.username }})</a>
                            {% else %}
                                <a href="#" class="btn btn-primary disabled">Modifier <i class="fas fa-lock"></i> ({{ app.user.username }})</a>
                                <a href="#" class="btn btn-danger disabled">Supprimer <i class="fas fa-lock"></i> ({{ app.user.username }})</a>
                            {% endif %}
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}
