{% extends "orga/orga.base.html.twig" %}

{% block content %}
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            {% for trame in event.trames %}
                {% set active = '' %}
                {% if loop.index0 == 0 %}
                    {% set active = 'active' %}
                {% endif %}
                <a class="nav-item nav-link {{ active }}" data-toggle="tab" href="#trame-{{ trame.id }}-content" id="trame-{{ trame.id }}-tab" role="tab">{{ trame.name }}</a>
            {% endfor %}
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        {% for trame in event.trames %}
            {% set active = '' %}
            {% if loop.index0 == 0 %}
                {% set active = 'show active' %}
            {% endif %}
            <div class="tab-pane fade {{ active }}" id="trame-{{ trame.id }}-content" role="tabpanel">
                <h3>{{ trame.name }}</h3>
                {% if trame.locked == "" %}
                    <a href="{{ path('edit_trame', {'id' : trame.id}) }}" class="btn btn-primary">Modifier</a>
                {% elseif trame.locked == app.user.username %}
                    <a href="{{ path('edit_trame', {'id' : trame.id}) }}" class="btn btn-primary">Modifier <i class="fas fa-lock"></i> ({{ app.user.username }})</a>
                {% else %}
                    <a href="#" class="btn btn-primary disabled">Modifier <i class="fas fa-lock"></i> ({{ app.user.username }})</a>
                {% endif %}
                <p>Orga :
                    {{ trame.orga }}</p>
                <p>Type :
                    {{ trame.type }}</p>
                <p>Matos :
                    {{ trame.matos }}</p>
                <p>Description :
                    {{ trame.description }}</p>
                <div>
                    <h4>ScenarToBack</h4>
                    {% for stb in trame.stbs %}

                        <div style="border: 2px solid black">
                            <h5>{{ stb.name }}</h5>
                            <h6>Personnages</h6>
                            <ul>
                                {% for char in stb.characters %}
                                    <li>{{ char }}</li>
                                {% endfor %}
                            </ul>
                            <h6>Description</h6>
                            <p>{{ stb.description }}</p>
                        </div>

                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
