{% extends "orga/orga.base.html.twig" %}

{% block content %}
    <nav>
        <div class="trames_tabs nav nav-tabs mt-3 bg-light border-0 rounded-top" id="nav-tab" role="tablist">
            {% for trame in event.trames %}
                {% set active = '' %}
                {% if loop.index0 == 0 %}
                    {% set active = 'active' %}
                {% endif %}
                <a class="border-0 nav-item nav-link {{ active }}" data-toggle="tab" href="#trame-{{ trame.id }}-content" id="trame-{{ trame.id }}-tab" role="tab">{{ trame.name }}</a>
            {% endfor %}
                <a class="nav-item nav-link"  href="{{ path('new_trame', {'eventId' : event.id}) }}" id="new-trame" role="tab">+</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        {% for trame in event.trames %}
            {% set active = '' %}
            {% if loop.index0 == 0 %}
                {% set active = 'show active' %}
            {% endif %}
            <div class=" rounded-bottom bg-light tab-pane fade {{ active }} pl-2" id="trame-{{ trame.id }}-content" role="tabpanel">
                <h3 class="text-center">{{ trame.name }}</h3>
                <div class="wrapper text-center">
                    <div class="btn-group">
                        {% if trame.locked == "" %}
                            <a href="{{ path('edit_trame', {'id' : trame.id}) }}" class="btn btn-primary">Modifier</a>
                            <a href="{{ path('delete_trame', {'id' : trame.id}) }}" class="btn btn-danger">Supprimer</a>
                        {% elseif trame.locked == app.user.username %}
                            <a href="{{ path('edit_trame', {'id' : trame.id}) }}" class="btn btn-primary">Modifier <i class="fas fa-lock"></i> ({{ app.user.username }})</a>
                            <a href="{{ path('delete_trame', {'id' : trame.id}) }}" class="btn btn-danger">Supprimer <i class="fas fa-lock"></i> ({{ app.user.username }})</a>
                        {% else %}
                            <a href="#" class="btn btn-primary disabled">Modifier <i class="fas fa-lock"></i> ({{ app.user.username }})</a>
                            <a href="#" class="btn btn-danger disabled">Supprimer <i class="fas fa-lock"></i> ({{ app.user.username }})</a>
                        {% endif %}
                    </div>
                </div>
                <p class="font-weight-bold">Organisateur : <span class="font-weight-normal">{{ trame.orga }}</span></p>
                <p class="font-weight-bold">Type de trame : <span class="font-weight-normal">{{ trame.type }}</span></p>
                <p class="font-weight-bold">Materiel : <span class="font-weight-normal">{{ trame.matos }}</span></p>
                <p class="font-weight-bold">Description :
                    {{ trame.description | raw }}</p>
                <div class=" pb-2">
                    <h4>ScenarToBack</h4>
                    {% for stb in trame.stbs %}

                        <div class="stb bg-white rounded shadow">
                            <h5 class="text-center">{{ stb.name }}</h5>
                            <h6>Personnages</h6>
                            <ul>
                                {% for char in stb.players %}
                                    <li>{{ char.name }}</li>
                                {% endfor %}
                            </ul>
                            <h6>Description</h6>
                            <p>{{ stb.description }}</p>
                        </div>

                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
